$blue: #1681de;
$light-blue: #6cd9d9;
$pink: #e9666c;
$green: #38b349;
$orange: #f2883d;
$yellow: #f3a954;
$pan-green: #45c8a6;
$purple: #865eff;
$white: #ffffff;
$gray: #99a9bf;
$black: #000000;

// marked colors
$c-normal: $pan-green;
$c-waiting: $yellow;
$c-fail: $pink;
$c-main: $blue;
$c-warning: $orange;

// text color
$c-title: #45474c;
$c-content: #45474c;
$c-h1: #7a8599;
$c-subtitle: #a3acbf;
$c-icon: #525b6f;
$c-border: #cfd6e5;
$c-split: #e6eaf2;
$c-description: #b8c3d9;
$c-gray-bg: #f3f6f8;
$c-danger-btn: #d73636;
$c-danger-disbled-btn: #c0c4cc;

// ----------------------------
$sdx-color-primary: #4781F8;
$sdx-border-color: #CFD3DA;

$menu-bg-dark: #262B3E;
$body-bg: #fafbfc;
