$alpha-hover: 0.7;
$alpha-diasbled: 0.3;

// font-size
$fs-h1: 18px;
$fs-h2: 16px;
$fs-content: 14px;
$fs-sub: 12px;
$fs-big-number: 36px;

// layout-size
$ls-headerbar: 60px;
$ls-siderbar: 230px;
$ls-content-margin: 20px;

$border-radius: 2px;
